@font-face {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/DMSans-Regular.woff2") format("woff2"),
    url("../fonts/DMSans-Regular.woff") format("woff");
  font-display: swap;
}


@font-face {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/DMSans-Medium.woff2") format("woff2"),
    url("../fonts/DMSans-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/DMSans-Bold.woff2") format("woff2"),
    url("../fonts/DMSans-Bold.woff") format("woff");
  font-display: swap;
}


@font-face {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Nunito-SemiBold.woff2") format("woff2"),
    url("../fonts/Nunito-SemiBold.woff") format("woff");
  font-display: swap;
}


@font-face {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Nunito-Bold.woff2") format("woff2"),
    url("../fonts/Nunito-Bold.woff") format("woff");
  font-display: swap;
}