html,
body {
  height: 100%;
}

body {
  @extend %dm-400;
  font-size: 16px;
  line-height: 26px;
  color: $default;
  background-color: #fff;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.lock {
  overflow: hidden;
}

.hide {
  opacity: 0;
  visibility: hidden;
  // display: none;
}

.show {
  opacity: 1;
  visibility: visible;
  // display: block;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

// style

// burger
.burger {
  position: relative;
  display: none;
  width: 30px;
  height: 20px;
  cursor: pointer;
  z-index: 11;
}
.burger::before,
.burger::after {
  content: "";
  background-color: $accent;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: all 0.3s;
}
.burger::before {
  top: 0;
}
.burger::after {
  bottom: 0;
}

.burger span {
  display: block;
  position: absolute;
  background-color: $accent;
  top: 9px;
  left: 0;
  width: 100%;
  height: 2px;
  transition: all 0.3s;
}
.burger--active::before {
  transform: rotate(45deg);
  top: 9px;
}
.burger--active::after {
  transform: rotate(-45deg);
  bottom: 9px;
}
.burger--active span {
  transform: scale(0);
}

.link {
  display: inline-block;
  min-height: 55px;
  padding: 16px 32px;
  @extend %dm-500;
  font-size: 18px;
  line-height: 23px;

  color: #fff;

  background: $accent;
  border-radius: 4px;
  transition: all 0.3s;
}

.link:hover {
  background-color: #1aa92d;
}

.title {
  @extend %nunito-700;
  font-size: 40px;
  line-height: 50px;
  color: $title;
}

.main {
  &__top {
    padding-top: 120px;
    padding-bottom: 50px;
  }
  &__collection {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  &__about {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  &__product {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  &__subscribe {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  &__follow {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  &__reviews {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (max-width: $xxl) {
  .title {
    font-size: 30px;
    line-height: 40px;
  }
}

@media (max-width: $md) {
  .title {
    font-size: 25px;
    line-height: 35px;
  }
}
