.product {
  &__title {
    margin-bottom: 24px;
    text-align: center;
  }
  &__filter-btns {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }
  &__btn {
    @extend %dm-500;
    font-size: 16px;
    line-height: 21px;
    color: $default;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
    margin-bottom: 40px;
  }
  &__links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .jq-ry-container {
    padding: 0;
  }
  .mixitup-control-active {
    @extend %dm-700;
    color: $accent;
    transition: all 0.2s;
  }
}

.product-item {
  display: flex;
  flex-direction: column;
  max-width: 270px;
  width: 100%;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  overflow: hidden;
  background: #eaf2e5;
  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
  }
  &__name {
    max-height: 56px;
    margin-bottom: 12px;
    @extend %nunito-600;
    font-size: 24px;
    line-height: 28px;
    color: $default;
    overflow: hidden;
    transition: all 0.3s;
  }
  &__name:hover {
    color: $title;
  }
  &__rate {
    margin-bottom: 12px;
  }
  &__price {
    display: inline-block;
    @extend %nunito-600;
    font-size: 16px;
    line-height: 19px;
    color: #1a1a1a;
  }
}

@media (max-width: $xl) {
  .product-item__name {
    font-size: 20px;
  }
}
@media (max-width: $lg) {
  .product__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    margin-bottom: 40px;
  }
  .product {
    .product-item {
      max-width: none;
      padding: 15px;
    }
  }
}

@media (max-width: $md) {
  .product__filter-btns {
    margin-bottom: 30px;
    gap: 15px;
  }
  .product__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: $sm) {
  .product__items {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .product {
    .product-item {
      max-width: 270px;
    }
  }
}
