$default: #4a4a4a;

$accent: #066f14;

%dm-400 {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}
%dm-500 {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}
%dm-700 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}
%nunito-600 {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}
%nunito-700 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}
