@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

// header

.header {
  position: absolute;
  width: 100%;
  top: 40px;
  left: 0;
  z-index: 999;
  &__inner {
    min-height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
  }
  &__link {
    padding: 11px 0;
    margin-right: 48px;
  }
  &__link:last-child {
    margin-right: 0;
  }
  &__link--sign {
    padding: 10.5px 16px;
    background-color: $accent;
    color: #fff;
    border-radius: 4px;
  }
}
.menu {
  &__list {
    display: flex;
  }
  &__list-item {
    margin-right: 48px;
  }

  &__list-item:last-child {
    margin-right: 0;
  }
  &__list-link {
    padding: 11px 0;
    @extend %dm-400;
    font-size: 16px;
    line-height: 21px;

    color: #1a1a1a;
  }
}

// footer

.footer {
  padding: 100px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__info {
    max-width: 306px;
    width: 100%;
  }
  &__logo {
    display: inline-block;
    margin-bottom: 24px;
  }
  &__info-text {
    margin-bottom: 22px;
    @extend %dm-400;
    font-size: 16px;
    line-height: 26px;
    color: $default;
  }
  &__info-text p:not(:last-child) {
    margin-bottom: 5px;
  }
  &__navigation {
    max-width: 645px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
  }
  &__navigation-item {
    padding-right: 15px;
  }
  &__navigation-item:last-child {
    padding-right: 0;
  }
  &__menu-title {
    margin-bottom: 24px;
    @extend %dm-700;
    font-size: 24px;
    line-height: 31px;
    color: #1a1a1a;
  }
  &__menu-list {
    min-width: 125px;
  }
  &__menu-item {
    margin-bottom: 16px;
  }
  &__menu-item:last-child {
    margin-bottom: 0;
  }

  &__menu-link {
    /* Font Style2/Tittle/2 */
    @extend %dm-400;
    font-size: 16px;
    line-height: 21px;
    color: $default;
  }
}

.social {
  display: flex;
  &__item {
    margin-right: 16px;
  }
  &__item:last-child {
    margin-right: 0;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 48px;
    height: 48px;
    background: #edffdd;
    border-radius: 4px;
  }
}

.top {
  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  &__content {
    padding-top: 52px;
    position: relative;
    flex-direction: column;
    max-width: 550px;
    width: 100%;
    margin-right: 20px;
  }
  &__content:after {
    content: "";
    position: absolute;
    bottom: 110px;
    right: -80px;
    z-index: -1;
    width: 157px;
    height: 193px;
    background-image: url("../images/leaves.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
  &__title {
    margin-bottom: 24px;
    @extend %nunito-700;
    font-size: 72px;
    line-height: 92px;
    color: $title;
  }
  &__text {
    margin-bottom: 40px;
    @extend %dm-400;
    font-size: 16px;
    line-height: 26px;
    color: $default;
  }
  &__text p:not(:last-child) {
    margin-bottom: 5px;
  }
  &__links {
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 110px;
  }
  &__item {
    flex-direction: column;
  }
  &__item-value {
    display: inline-block;
    margin-bottom: 10px;
    @extend %nunito-700;
    font-size: 36px;
    line-height: 49px;
    color: $title-2;
  }
  &__item-title {
    @extend %dm-400;
    font-size: 18px;
    line-height: 23px;
    color: $title;
  }
  &__img {
    position: relative;
    max-width: 557px;
    width: 100%;
    margin-right: -40px;
  }
  &__img-item {
    position: absolute;
    cursor: pointer;
  }

  &__img-item--active {
    opacity: 1;
    visibility: visible;
  }
  &__img-item--position-1 {
    top: 80px;
    right: -50px;
  }
  &__img-item--position-2 {
    top: 160px;
    left: -70px;
  }
  &__img-item--position-3 {
    bottom: 120px;
    right: -100px;
  }
}
.item {
  &__dot {
    display: flex;
    align-items: center;
  }
  &__dot-icon {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
  }
  &__dot-content {
    margin-left: 107px;
    background: rgba($accent, 0.7);
    padding: 16px 32px;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    @extend %dm-400;
    font-size: 16px;
    line-height: 21px;
    color: #fff;
    transition: all 0.3s;
  }
  &__dot-content:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    width: 115px;
    height: 4px;
    background: #519a5a;
  }
  &__dot-content--special {
    margin-left: 0;
    margin-right: 107px;
    order: -1;
  }
  &__dot-content--special:after {
    left: 157px;
  }

  &__dot-content--active {
    opacity: 1;
    visibility: visible;
  }
}

// collection

.collection {
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    max-width: 390px;
    width: 100%;
    padding-right: 20px;
  }
  &__title {
    margin-bottom: 37px;
    @extend %nunito-700;
    font-size: 36px;
    line-height: 49px;
    color: $title;
  }
  &__links {
    display: flex;
    flex-wrap: wrap;
  }
  &__link {
    position: relative;
    padding-right: 24px;
    @extend %dm-400;
    font-size: 18px;
    line-height: 23px;
    color: $default;
  }
  &__link:after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 17px;
    height: 13px;
    background-image: url("../images/icons/arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    max-width: 700px;
    width: 100%;
  }
  &__item {
    flex: 0 1 215px;
    padding: 22px;
    background-color: #f6ede8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__item:nth-child(even) {
    background-color: #f0f1f6;
  }
}

// about
.about {
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__img {
    max-width: 446px;
    width: 100%;
    margin-right: 150px;
    background-color: $accent;
    max-height: 440px;
  }
  &__img-wrapper {
    transform: translate3d(70px, 40px, 0);
  }
  &__content {
    max-width: 505px;
    width: 100%;
  }
  &__suptitle {
    margin-bottom: 12px;
    @extend %dm-500;
    font-size: 18px;
    line-height: 23px;
    color: $accent;
  }
  &__title {
    margin-bottom: 24px;
  }
  &__text {
    margin-bottom: 16px;
  }
  &__text p:not(:last-child) {
    margin-bottom: 5px;
  }
  &__article {
    margin-bottom: 36px;
    @extend %dm-500;
    font-size: 18px;
    line-height: 29px;
    color: $default;
  }
  &__article p:not(:last-child) {
    margin-bottom: 5px;
  }
  &__links {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}

//

.product {
  &__inner {
  }
  &__top {
  }
  &__title {
    margin-bottom: 24px;
    text-align: center;
  }
  &__filter-btns {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }
  &__btn {
    @extend %dm-500;
    font-size: 16px;
    line-height: 21px;
    color: $default;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
    margin-bottom: 40px;
  }
  &__links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  &__link {
  }
  .jq-ry-container {
    padding: 0;
  }
  .mixitup-control-active {
    @extend %dm-700;
    color: $accent;
    transition: all 0.2s;
  }
}

.product-item {
  display: flex;
  flex-direction: column;
  max-width: 270px;
  width: 100%;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  overflow: hidden;
  background: #eaf2e5;
  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
  }
  &__name {
    max-height: 56px;
    margin-bottom: 12px;
    @extend %nunito-600;
    font-size: 24px;
    line-height: 28px;
    color: $default;
    overflow: hidden;
    transition: all 0.3s;
  }
  &__name:hover {
    color: $title;
  }
  &__rate {
    margin-bottom: 12px;
  }
  &__price {
    display: inline-block;
    @extend %nunito-600;
    font-size: 16px;
    line-height: 19px;
    color: #1a1a1a;
  }
}

@import "media";
